
.main-nav {
    height: auto;
    box-shadow: -1px 2px 3px rgba(0,0,0,0.25);

    .navbar {
        background: $secondary_color !important;
    }

    .container {
        max-width: 95%;
    }

    .navbar-toggler {
        border: 0;

        .fa {
            font-size: 20px;
            color: $primary_color;
        }
    }

    .nav-item {
        padding-right: 30px;
        a{
            text-transform: uppercase;
            font-size: 14px;
            color: $primary_color !important;
        }
    }

}