.site-main-section {
    padding: 25px 0;

    .btn {
        background: transparent;
        color: $secondary_color;
        border: 1px solid $secondary_color;
        padding: 5px 20px;

        &:hover {
            background: $secondary_color;
            color: $primary_color;
            transform: rotate(-5deg);
        }
    }

    .site-testimonial {
        padding-bottom: 20px;
        height: auto;
      
        h1 {
            padding-bottom: 10px;
        }

        .card {
            max-width: 300px !important;
            margin-bottom: 10px !important;
           .rounded-circle {
               max-height: 300px;
           }

           .card-title {
               font-size: 15px !important;
           }

           .card-text {
               font-size: 15px !important;
           }
        }


    }

    .lawyer-ratings {
        width: 100%;
        height: auto;

        .text-center {
            padding-bottom: 20px;
        }

        .container {
            max-width: 100%;
        }

        .row {
            .aside {
                border-right: 2px solid $secondary_color;
                h2 {
                    font-size: 30px;
                    padding-bottom: 20px;
                }

                .nav{
                    display: flex;
                    flex-direction: column; 
                    border: 0;

                    .nav-item {
                        width: 90%;
                    }

                    a{
                        text-align: justify;
                        color: $secondary_color;
                    }

                    .active {
                        background: $secondary_color;
                        color: $primary_color;
                    }

                }
            }

            .tab-content {
                .row {
                    .col-md-4 {
                        max-height: 450px !important;
                        margin-bottom: 20px !important;

                        .card {
                            height: 100%;

                            .card-img-top {
                                height: 200px !important;
                            }

                            .card-title {
                                font-size: 20px !important;
                            }

                            .card-text{
                                font-size: 15px !important;
                            }
                        }
                    }

                    a {
                        background: transparent;
                        border: 1px solid $secondary_color;
                        color: $secondary_color;
    
                        &:hover {
                            background: $secondary_color;
                            color: $primary_color;
                        }
                    }
                }
            }
        }
    }

    .lawyer-single {
        padding: 25px 0;
        .lawyers-profile {
            border-right: 2px solid $secondary_color;
            padding-right: 40px;

            .card-img-top {
                max-height: 300px !important;
            }
        }
    }

    .site-contact {
        .text-center {
            margin-bottom: 20px;
        }

        .contact-logo {
            max-width: 100%;
            padding-right: 20px;
            h1 {
                font-size: 250px;
            }
        }

        .contact-form {
            .form-group {
                width: 100%;

                textarea{
                    padding-left: 10px;
                    width: 100%;
                    height: 200px;
                }
            }
        }

    }

   .features-area {
       height: auto;

    //    .container {
    //        max-width: 95%;
    //    }
       .row {
        
        .col-lg-3 {
            background: lightgrey;
        }

        .single-feature {
            display: flex;
            flex: 1;
            padding: 20px 0;
            
            .thumb{
                padding: 10px;
                display: flex;
                flex: 1;
                background: $primary_color;

                img {
                    padding:0 10px;
                    width: 50px;
                    height: 50px;
                    background: $primary_color;
                }

                .info-content {
                    padding-left: 20px;
                }

                &:hover {
                    background: $secondary_color;
                    color: $primary_color;
                }
            }
        }
       }
   }
    
   #law-rating {
       padding: 60px 0;

       .progress{
           height: 35px;
           margin-bottom: 10px;

           .progress-bar {
               background: $secondary_color;
               text-align: left;
               transition: 0.9s;
           }

           .skill{
               display: flex;
               font-family: "Open Sans", sans-serif;
               line-height: 35px;
               padding: 0;
               margin: 0 0 0 20px;
               text-transform: uppercase;

            .val {
                margin-left: auto;
                padding-right: 10px;
            }
           }
       }
       
   }

   .legal-advice {
       display: flex;
       background: url(../images/banner2.jpg) no-repeat center center;
       height: 200px;

       .legal-center {
           margin: auto;
           color: $primary_color;
       }
   }
}

@media only screen and (max-width: 768px) {
    .lawyer-ratings {
        .aside {
            border: 0 !important;
        }
    }
}